body{
    background-color: rgb(71, 55, 55);
    font-family: 'My Web Font', 'Open Sans', cursive;
    scale:300%
}







.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: auto;
    grid-gap: 2vw;
    font-size: 0.8rem;
}
    




.item-1 {
    background-color: rgb(161, 48, 48);
    
    background: yellow;
}

.item-1>img {
    object-fit: cover;
    width: 100%
  }


.item-2 {
    background-color: rgb(49, 163, 68);
      
}

.professions {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
}

.item-2 h2{
    background-color: gray;
}

.item-2 ul{
    padding: 0;
    margin: 0;
    list-style: none;
    color: black;



 /*   justify-content: center;
    align-items: center;*/
}

.item-2 li{
    background-color: gray;



}

.item-3 {
    background-color: rgb(34, 32, 180);
    
}

.biography {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
}

.item-3 p{
    background-color: honeydew;
}
.item-3 span{
    font-weight: bold;
    
    
}

.item-4 {
    background-color: rgb(207, 219, 29);
    
}

* {box-sizing:border-box}

/* Container for skill bars */
.container {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}

.Django {width: 86%; background-color: #04AA6D;} /* Green */
.JavaScript {width: 54%; background-color: #2196F3;} /* Blue */
.html {width: 32%; background-color: #f44336;} /* Red */
.css {width: 18%; background-color: #808080;} /* Dark Grey */



@media (min-device-width: 375px) and (orientation: portrait) {
    .grid-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        grid-template-rows: auto;
        grid-gap: 2vw;
        font-size: 0.5rem;
    }

    .item-3 {
        background-color: rgb(34, 32, 180);
        height: 100%;
        font-size: 200%;
        
    }

    .professions {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    
    .biography {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: space-around;
    }

    .item-2 {
        font-size: 200%;
        height: 350px;

    }

    .item-4 {
        font-size: 200%;

    }

    .item-1 img {
        height: 420px;

    }
    

}



@media print {
	html, body{
		height: 297mm;
		width: 210mm;
        font-size: 14px;
        margin: 10mm 10mm 10mm 20mm;
	}
}